<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商城注册页面</title>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<link rel="stylesheet" th:href="@{/css/shop.css}"/>
</head>
<body>
<form id="RegistForm" action="" method="post">
	用户名：<input id="userid" type="text" name="userid" placeholder="请输入用户名">
	密码: <input id="passwd" type="password" name="passwd" placeholder="请输入密码">
	<p><input type="submit" value="注册"><span id="result" class="result"></span></p>
</form>
</body>
</html>